
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= "Coordinator".pluralize(@project.coordinator_names.count) %></h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @project.coordinator_hash.each do |id, name| %>
          <li><%= name %>
          <% if id.to_i > 0 %>
            <span class="pull-right">
              <%= link_to edit_project_project_split_path(@project, id) do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <% end %>
              <%= link_to project_project_split_path(@project, id), method: "delete" do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              <% end %>
            </span>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Sales <%= "Split".pluralize(@project.sales_splits.count) %></h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @project.sales_splits.each do |person| %>
          <li><%= person %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Involved <%= "User".pluralize(@project.involved_users.count) %></h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @project.involved_users.each do |inv| %>
          <li><%= inv %></li>
        <% end %>
      </ul>
    </div>
  </div>
