
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= "Coordinator".pluralize(@project.coordinators.count) %></h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @project.coordinators.each do |coordinator| %>
          <li><%= coordinator %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Sales <%= "Split".pluralize(@project.sales_splits.count) %></h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @project.sales_splits.each do |person| %>
          <li><%= person %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Involved <%= "User".pluralize(@project.involved_users.count) %></h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @project.involved_users.each do |inv| %>
          <li><%= inv %></li>
        <% end %>
      </ul>
    </div>
  </div>
