
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= "Coordinator".pluralize(@coordinator_splits.count) %></h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @coordinator_splits.each do |coordinator| %>
          <li><%= coordinator.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Sales <%= "Split".pluralize(@sales_splits.count) %></h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @sales_splits.each do |x| %>
          <li><%= x.user.name %>, <%= x.percentage %>%</li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Involved <%= "User".pluralize(@involved_splits.count) %></h4>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <% @involved_splits.each do |inv| %>
          <li><%= inv.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
