<% provide(:title, @user.name) %>
<div class="row">
  <h1>Overview</h1>
</div>
<!-- Coordinator table -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Coordinator Projects</div>
    <!-- Table -->
      <table class="table table-hover">
        <thead>
          <tr>
             <th>Project</th>
             <th>Client (contact)</th>
             <th>Status</th>
             <th>Updated at</th>
          </tr>
         </thead>
         <tbody>
          <% @coordinator_projects.each do |prj| %>
          <tr>
            <td><%= link_to prj.project.name, project_path(prj.project) %> (#<%= prj.project.job_number %>)</td>
            <td><%= prj.project.client.name %> (<%= prj.project.contact.name %>)</td>
            <td><%= prj.project.status  %></td>
            <td><%= prj.project.updated_at.time.to_date.to_formatted_s(:long)  %></td>
            </tr>
          <% end %>
         </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Sales Table -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Sales</div>
    <!-- Table -->
      <table class="table table-hover">
        <thead>
          <tr>
             <th>Project</th>
             <th>Client (contact)</th>
             <th>Your split</th>
             <th>Project total</th>
          </tr>
         </thead>
         <tbody>
          <% @sales_projects.each do |splt| %>
          <tr>
            <td><%= link_to splt.project.name, project_path(splt.project) %> (#<%= splt.project.job_number %>)</td>
            <td><%= splt.project.client.name %></td>
            <td><%= splt.split_amount %></td>
            <td><%= splt.project.total.to_s(:currency) %></td>
            </tr>
          <% end %>
         </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Involved Projects -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Involved Projects</div>
    <!-- Table -->
      <table class="table table-hover">
        <thead>
          <tr>
             <th>Project</th>
             <th>Client (contact)</th>
             <th>Status</th>
             <th>Updated at</th>
          </tr>
         </thead>
         <tbody>
          <% @involved_projects.each do |prj| %>
          <tr>
            <td><%= link_to prj.project.name, project_path(prj.project) %> (#<%= prj.project.job_number %>)</td>
            <td><%= prj.project.client.name %> (<%= prj.project.contact.name %>)</td>
            <td><%= prj.project.status  %></td>
            <td><%= prj.project.updated_at.time.to_date.to_formatted_s(:long)  %></td>
            </tr>
          <% end %>
         </tbody>
      </table>
    </div>
  </div>
</div>

