<!-- this displays different links per actions -->
<!-- needs to go within a row -->
<% if current_page?(project_path(@project)) %>
  <aside class="right">
        <p><%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary" %></p>
        <p><%= link_to "New Project Split", new_project_project_split_path(@project), class: "btn btn-default" %></p>
        <p><%= link_to "New Project", new_project_path, class: "btn btn-default" %></p>
        <p><%= link_to "All Projects", projects_path, class: "btn btn-default" %></p>
  </aside>
<% elsif current_page?(controller: 'projects', action: 'index') %>
  <aside class="right">
        <p><%= link_to "New Project", new_project_path, class: "btn btn-primary" %></p>
  </aside>
<% elsif current_page?(controller: 'projects', action: 'edit') %>
  <aside class="right">
        <p><%= link_to "Show Project", project_path(@project), class: "btn btn-primary" %></p>
        <p><%= link_to "New Project", new_project_path, class: "btn btn-default" %></p>
        <p><%= link_to "All Projects", projects_path, class: "btn btn-default" %></p>
  </aside>
<% elsif current_page?(controller: 'projects', action: 'new') %>
  <aside class="right">
        <p><%= link_to "All Projects", projects_path, class: "btn btn-primary" %></p>
  </aside>
<% elsif current_page?(controller: 'projects') %>
  <aside class="right">
        <p><%= link_to "New Project", new_project_path, class: "btn btn-primary" %></p>
  </aside>
<% end %>